node_modules
dist
.vite
.DS_Store
*.log
public/*.gba
public/*.sav
*.gba
*.sav
_*.png
tsconfig.tsbuildinfo
coverage

# rust core
core/target
**/*.rs.bk

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
